.list-three {
  width: 650px;
}
p {
  color: #444;
}
.collapsible-body, .collapsible-header {
  border: none;
  color: #000;
  background-color: #FFF;
}
.collection .collection-item.active {
  background-color: #FFF;
  color: #26a69a;
}
.tabs {
  overflow-x: hidden;
}
.input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.input-field input[type=search]:focus {
  border-bottom: 1px solid #e0e0e0;
}
#search {
  display: block;
}
.searchLI {
  display: none;
}
ul {
  padding: 0 10px;
  background-color: #f0f0f0;
}
.chip {
  margin-bottom: 10px;
}
.hiding {
  margin-left: -100%;
  opacity: 0.5;
}
.hidden {
  display: none;
}
li.selected {
  background-color: #e0e0e0;
}
