.list-three {
  width: 650px;
}

/*.bio {
  font-size: .85em;
}*/

.collapsible-body,
.collapsible-header {
  border: none;
  color: #000;
  background-color: #FFF;
}


.collection .collection-item.active {
    background-color: #FFF;
    color: #26a69a;
  }
